.score-page-header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 80px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ant-card {
  width: 200px;
}

.ant-card-cover img {
  height: 200px;
  object-fit: cover;
}

.form-label {
  color: white;
  font-size: 18px;
  margin-left: 80px;
}